@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: no-repeat center/auto
    url("https://images.unsplash.com/photo-1432847712612-926caafaa802?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  user-select: none;
}

header {
  width: 100%;
  height: 3.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #fff;
  top: 0%;
  z-index: 10;

  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgb(74 70 70 / 43%);
  border-bottom: 1px solid rgba(209, 213, 219, 0.3);
}

header nav a {
  text-decoration: none;
  color: #febb0b;
  margin-left: 1rem;
  font-weight: 600;
}

header h1 {
  color: #febb0b;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: bold;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 20px; */
  padding-top: 5rem;
  padding-bottom: 2rem;
}

h3 {
  margin: 10px 0;
  color: #e6e9eff0;
  font-weight: 700;
  text-transform: uppercase;
}

h6 {
  margin: 5px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ebe6e6c4;
  font-size: 12px;
}

.skill-heading {
  color: #febb0b;
  font-size: 13px;
}

p {
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #febb0b;
  font-weight: 600;
}

.card-box {
  background-color: #231e39;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #b3b8cd;
  padding-top: 30px;
  margin: 10px;
  position: relative;
  width: 350px;
  max-width: 100%;
  text-align: center;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgb(74 70 70 / 43%);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.card-box .pro {
  color: #231e39;
  background-color: #febb0b;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.card-box .round {
  width: 9rem;
  height: auto;
  margin: 1rem auto;
  border: 2px solid #ffffff4f;
  border-radius: 50%;
  padding: 7px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}

button.primary {
  background-color: #febb0b;
  border: 1px solid #febb0b;
  border-radius: 3px;
  color: #000000;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  padding: 10px 25px;
  cursor: pointer;
}

button.primary.ghost {
  background-color: transparent;
  color: #febb0b;
  cursor: pointer;
}

.skills {
  background-color: #ffffff42;
  text-align: left;
  padding: 15px;
  margin-top: 30px;
  border-top: 1px solid rgb(255 255 255 / 32%);
  border-radius: 12px;
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.skills ul li {
  border: 1px solid #ffffff36;
  border-radius: 50px;
  display: inline-block;
  font-size: 12px;
  color: #ffffff;
  margin: 0 7px 7px 0;
  padding: 7px 10px;
  background: #00000030;
}

header nav a:hover {
  color: #ffffff;
}

.fa-github {
  font-size: 1.2rem;
}

.card-box h3,
.card-box button.primary {
  transition: transform 0.3s ease;
  margin: 2px;
}

.card-box h3:hover,
.card-box button.primary:hover {
  transform: scale(1.1);
}

#scroll-to-top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.33);
  box-shadow: 0px 10px 20px -10px red;
  animation: arrowBlink 1.5s infinite;
}

#scroll-to-top-button i {
  font-size: 24px;
  color: #febb0b;
  animation: arrowBlink 1.5s infinite;
}

@keyframes arrowBlink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
